* {
  box-sizing: border-box;
}

.header{
    background-color:#e27d60;
    height:6vw;
}

.seaching_summary{
    text-align: center;
}

body {
    font-family: 'Sarabun', sans-serif;
    background-color: #f7eee1;
}
  
#title_timesheet {
    text-align: center;
    font-size: 4vw;
}

#form_show_summary_by_id {
    text-align: center;
}

.title_company {
    color: #f36e31;
    font-size: 3vw;
    margin: 0;
}

.table_company th{
    color: #ffffff;
    text-align: center;
    background-color: #0f697c;
}

.table_company td{
    color: #ffffff;
    text-align: center;
    background-color: #5aaebd;
}

#button_show_summary_by_id, #button_show_summary {
    background-color: #f36e31;
    color: white;
    text-align: center;
    font-size: 1vw;
}

#button_show_summary_by_id:hover, #button_show_summary:hover{
    background-color:#a13422;
}

.button {
    background-color: #00ce48;
    color: white;
    text-align: center;
    font-size: 1vw;
    width: 100%;
}

.button:hover {
  background-color:#21723e;
}
