* {
  box-sizing: border-box;
}

.seaching_summary{
    text-align: center;
    padding-top: 100px;
    padding-left: 30px;
}

.title_company {
    color: #f36e31;
    font-size: 20px;
    margin: 0;
    padding-top: 50px;
    padding-left: 30px;
}

.table_company th{
    color: #ffffff;
    text-align: center;
    background-color: #0f697c;
    border: 1px solid white;
}

.table_company td{
    color: #0a3d47;
    text-align: center;
    background-color: #5aaebd;
    border: 1px solid white;
}

#button_show_summary_by_id, #button_show_summary {
    background-color: #f36e31;
    color: white;
    text-align: center;
    font-size: 12px;
}

#button_show_summary_by_id:hover, #button_show_summary:hover{
    background-color:#a13422;
}

.button {
    background-color: #00ce48;
    color: white;
    text-align: center;
    font-size: 1vw;
    width: 100%;
}

.button:hover {
  background-color:#21723e;
}

.circular--square {
    width:40px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }