#title_payments {
    color: #0f697c;
    font-size: 60px;
}

.title_company {
    color: #f36e31;
    font-size: 30px;
    margin: 0;
}

.table_company th{
    color: #ffffff;
    text-align: center;
    background-color: #0f697c;
}

.table_company td{
    color: #ffffff;
    text-align: center;
    background-color: #5aaebd;
}

#button_show_summary_by_id, #button_show_summary {
    background-color: #f36e31;
    color: white;
    text-align: center;
    font-size: 12px;
}

#button_show_summary_by_id:hover, #button_show_summary:hover{
    background-color:#a13422;
}

.button {
    background-color: #00ce48;
    color: white;
    text-align: center;
    font-size: 12px;
    width: 100%;
}

.button:hover {
  background-color:#21723e;
}

body {
    font-family: 'Sarabun', sans-serif;
    background-color: #e7faf3;
}
