* {
  box-sizing: border-box;
}

.header{
    background-color:#e27d60;
    height:6vw;
}

#title_profile {
    text-align: center;
    font-size: 4vw;
}

#button_back {
    background-color: #f36e31;
    color: #ffffff;
    font-size: 1.6vw;
    margin: 0.5vw;
}

#button_edit_member{
    background-color: #f36e31;
    color: #ffffff;
    font-size: 1.6vw;
    margin: 0.5vw;
}

#button_back:hover {
    background-color: #a13422;
}

.button {
    background-color: #00ce48;
    color: white;
    text-align: center;
    font-size: 1.6vw;
    position: relative;
}

.button:hover {
    background-color:#21723e;
}

#table_member_details th{
    color: #07343d;
    font-size: 1.8vw;
    text-align: left;
    padding-left: 8vw;
    padding-right: 4vw;
}

#table_member_details td{
    color: #07343d;
    font-size: 1.8vw;
    text-align: left;
    width: 20vw;
}

input[type=text],input[type=number],input[type=email] {
    width: 100%;
    padding: 1vw 1vw;
    margin: 0.2vw;
    border-top-style: none;
    border-right-style: none; 
    border-bottom: 0.2vw solid #0f697c ;
    border-left-style: none;
    box-sizing: border-box;
    background-color:transparent;
    font-size: 1.5vw;
}

body {
    font-family: 'Sarabun', sans-serif;
    background-color: #f7eee1;
}