body {
    font-family: 'Sarabun', sans-serif;
    background-color: #ffffff;
}

.table {
    color: #ffffff;
    text-align: center;
    border-collapse: collapse;
    background-color: #5aaebd;
}

.table th{
    background-color: #0f697c;
    border: 2px solid #ffffff;
}

.table td{
    border: 2px solid #ffffff;
}

#income_company_shuhari {
    background-color:#ffde2c;
    color: #0f697c;
}

#payment_button, #editMember_button {
    background-color: #f36e31;
    color: white;
    text-align: right;
    font-size: 16px;
    margin: 5px;
}

#payment_button:hover, #editMember_button:hover {
    background-color: #a13422;
}

.table_details {
    color: #0f697c;
}

.button {
    background-color: #00ce48;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.button:hover {
  background-color:#21723e;
}

#delete_button {
    background-color: #0f697c;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

#delete_button:hover {
  background-color: #f25821;
}