* {
  box-sizing: border-box;
}

.content {
    padding: 30px 10px 1400px 10px;
}

#button_to_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#button_to_top:hover {
    background-color: #555;
}

.table_details tr{
    font-size: 20px;
    text-align: left;

}
.center {
    text-align: center;
}

.table {
    color: #ffffff;
    background-color: #5aaebd;
    /* text-align: center;border-collapse: collapse; */
}

.table th{
    color: #ffffff;
    background-color: #0f697c;
    border: 1px solid #ffffff;
}

.table td{
    color: black;
    border: 1px solid #ffffff;
}

#income_company_shuhari {
    background-color:#ffde2c;
    color: #0f697c;
}

#button_payment {
    background-color: #f36e31;
    color: white;
    font-size: 16px;
}

#button_payment:hover {
    background-color: #a13422;
}

#button_edit_member:hover {
    background-color: #a13422;
}

.table_details {
    color: #07343d;
     padding-left: 20px;
    padding-right: 40px; 
}

.button {
    background-color: #00ce48;
    color: white;
    text-align: center;
    font-size: 10px;
    width: 100%;
}

.button:hover {
  background-color:#21723e;
}

#button_delete{
    background-color: #0f697c;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    width: 100%;
}

#button_delete:hover {
  background-color: #f25821;
}

body {
    font-family: 'Sarabun', sans-serif;
    background-color: white;
}

.circular--square {
    width:40px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}



.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: right;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 50%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(37, 36, 36);
    color: white;
    text-align: center;
    height: 10%;
}